/* SPLASH PAGE */
@font-face {
    font-family: 'buran_ussrregular';
    src: url('fonts/buranUSSR/buran_ussr-webfont.eot');
    src: url('fonts/buranUSSR/buran_ussr-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/buranUSSR/buran_ussr-webfont.woff2') format('woff2'),
         url('fonts/buranUSSR/buran_ussr-webfont.woff') format('woff'),
         url('fonts/buranUSSR/buran_ussr-webfont.ttf') format('truetype'),
         url('fonts/buranUSSR/buran_ussr-webfont.svg#buran_ussrregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fairviewregular';
    src: url('fonts/fairview-regular/fairview_regular-webfont.eot');
    src: url('fonts/fairview-regular/fairview_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fairview-regular/fairview_regular-webfont.woff2') format('woff2'),
         url('fonts/fairview-regular/fairview_regular-webfont.woff') format('woff'),
         url('fonts/fairview-regular/fairview_regular-webfont.ttf') format('truetype'),
         url('fonts/fairview-regular/fairview_regular-webfont.svg#fairviewregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snowstormregular';
    src: url('fonts/snowstorm/snowstorm-webfont.eot');
    src: url('fonts/snowstorm/snowstorm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/snowstorm/snowstorm-webfont.woff2') format('woff2'),
         url('fonts/snowstorm/snowstorm-webfont.woff') format('woff'),
         url('fonts/snowstorm/snowstorm-webfont.ttf') format('truetype'),
         url('fonts/snowstorm/snowstorm-webfont.svg#snowstormregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a, a:before, a:after, .btn, .btn:before, .btn:after {transition: all 0.3s linear; -webkit-transition: all 0.3s linear; box-sizing: border-box; -moz-box-sizing: border-box;}
body.splash-page {
	// background: url("images/splash/bg.jpg") no-repeat #000;
	background: url("images/splash/bg.jpg") no-repeat top center #2B241E;
  	// background-repeat: no-repeat;
   //  background-position: top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    width: 100%;
    height: 100%;
}
#toast-container{
	.toast-success{
		background-color: #fff;
		background-image: url('/images/success.png')!important;
		background-size: 9%;
	}
	.toast-error{
		background-color: #fff;
		background-image: url('/images/error.png')!important;
		background-size: 9%;
	}
	.toast{
		.toast-message{
			color: #606060;

			a{
				color: #5bc0de;
				text-decoration: none;

				&:hover{
					color: #5bc0de;
					text-decoration: none;
				}
			}
		}
	}
}

.txt-align-right{
	text-align: left;
}
.ol-l-alpha{
	list-style-type: lower-alpha;
	counter-reset: alpha;
	li{
		list-style: none;
    	position: relative;
		&:before{
			counter-increment: alpha;
    		content:counter(alpha, lower-alpha)") ";
		}
	}
}
.highlight{
	background: yellow;
	padding: 0px 5px;
}
.btn-resend-verification{
	width: 100%;
}
#main-container.splash,
#main-container.splash .container {
	background: none;

	.logo-container,
	.content-container { 
		margin: 0 auto; 
		text-align: center;

		#search-form input { 
			border: 1px solid #8e8cfe;
		    -webkit-border: 1px solid #8e8cfe;
		    -moz-border: 1px solid #8e8cfe;
		    font-size: 16px;
		    float: left;
		    line-height: 19px;
    		padding: 10px;
		}

			/* Placeholder text color -- selectors need to be separate to work. */
			#search-form input::-webkit-input-placeholder {
				color: rgb(157, 157, 157);
				font-family: "Lato";
				font-size: 16px;
				line-height: 19px;
			}

			#search-form input:-moz-placeholder {
				color: rgb(157, 157, 157);
				font-family: "Lato";
				font-size: 16px;
				line-height: 19px;
			}

			#search-form input::-moz-placeholder {
				color: rgb(157, 157, 157);
				font-family: "Lato";
				font-size: 16px;
				opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
				line-height: 19px;
			}

			#search-form input:-ms-input-placeholder {
				color: rgb(157, 157, 157);
				font-family: "Lato";
				font-size: 16px;
			}

		#search-form .submit-btn { 
			background: #8e8cfe; 
			line-height: 19px;
		}
	}

	.logo-container { margin-top: 70px; }
	.content-container { padding: 36.5px 0; }
	h1 {
		color: #fff;
		font: 35px 'fairviewregular';
	}

	h2 { 
		color: #009ec2; 
		font: 36px 'snowstormregular';
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	h3 { 
		color: #fff; 
		font: 26px 'snowstormregular';
		margin-bottom: 40px;
		text-transform: normal;
	}
	
	a:hover { text-decoration: none; }


	img {
		width: auto;
    	margin: 0 auto;
	}

	ul { 
		margin: 40px auto;
		overflow: hidden; 
		width: 50%;
	}

	ul li {  
		display: inline-block;
	    list-style: none;
	    position: relative;
	    padding-right: 20px;
	    text-align: center;
	}

	ul li:last-child {  padding-right: 0; }

	.facebook,
	.google-plus {
		a {
			border-radius: 3px 0px 0px 3px;
		    -webkit-border-radius: 3px 0px 0px 3px;
		    -moz-border-radius: 3px 0px 0px 3px;
		    color: #fff;
		    display: block;
		    float: left;
		    padding: 5px 15px;		

		    i { padding-right: 9px; }    
		}

		span {
			border-radius: 0px 3px 3px 0px;
			-webkit-border-radius: 0px 3px 3px 0px;
			-moz-border-radius: 0px 3px 3px 0px;
			background: #fff;
		    display: block;
		    float: left;
		    padding: 5px ;
		    position: relative;
		}

		span:before {
	        border-top: 5px solid transparent;
		    border-bottom: 5px solid transparent;
		    border-right: 5px solid #fff;
		    content: '';
		    height: 0;
		    position: absolute;
		    margin: 0;
		    left: -5px;
		    top: 8px;
		    width: 0;
		}
	}

	.facebook { 
		a { background: #3c579d; } 
	}

	.google-plus { 
		a { 
			background: #d94d32; 

			i { padding-right: 0; } 
		} 
	}

	.twitter {

		a {
			background: #25aaf3;
			border-radius: 3px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px ;
		    color: #fff;
		    display: block;
		    float: left;
		    padding: 5px 15px;		   

		    i { padding-right: 10px; } 
		}
	}
}

#branding-container.splash { 
	background: rgba(0, 0, 0, 0.5); 
	padding: 10px 0;

	h1 { 
		color: #fff;
		font: 48px "fairviewregular";
    
	}
}

/* INNER PAGE */
.single-page {
	padding-top: 15px;
	padding-bottom: 15px;
}
	

/* FORMS */
.panel.panel-default {
	background: none;
    border: none;
    -webkit-border: none;
    -moz-border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #000;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sell .panel.panel-default,
.edit-gears .panel.panel-default {
	padding-top: 0;
	padding-bottom: 0;
}
	.sign-up .container.reg-container {
    	background-color: #f0f0f0;
    	border-radius: 7px;
    	-moz-border-radius: 7px;
    	-webkit-border-radius: 7px;
    	padding: 25px 25px;

    	.pull-right img { width: 51px; }
    }

    .panel-default>.reg-container>.panel-heading {
		background: none;
		border: none;
	    font: 700 20px arial;
	    padding-top: 0;
	    padding-bottom: 0;
	    text-align: left;
	}

    
	.panel-default>.panel-heading {
		background: none;
		border: none;
	    font: 700 20px arial;
	    overflow: hidden;
	    text-align: left;
	}

	.sell .panel-default>.panel-heading,
	.edit-gears .panel-default>.panel-heading {
		padding-top: 0;
		padding-bottom: 0; 
	}
		
	.heading-title {
		background: #fff;
	    padding-bottom: 15px;
	    padding-top: 15px;
	    h3{
	    	font-size: 16px;
	    	margin: 0 0 10px 0;
	    }
	}

	.sign-up {
		.heading-title {
			background: 0; 
			padding: 0 0 15px 0; 
		}

		.logo-thumb {  
			background: none;
		    padding: 0 0 15px 0; 
			text-align: right;

	    	img { 
	    		display: inline-block;
	    		width: 48px;
	    	}
		}
	}
	

	.panel-heading .col-lg-11 h2 { line-height: 32px; }

	.logo-thumb {  
		background: #fff;
	    padding-bottom: 15px;
	    padding-top: 15px;
		text-align: right;

    	img { 
    		display: inline-block;
    		width: 48px;
    	}
	}

	.panel-body {
		background: #fff;
	}

	.panel-body.upload-sign-up,
	.panel-body.upload {
		margin-top: 50px;
	}

	.section-title {
		font: 700 14px "Lato";
		margin-bottom: 20px;
	}

	.section-form { margin-bottom: 40px; }

	.sell .upload-sign-up .form-group {
		margin-left: -15px;
    	margin-right: -15px;
    	overflow: hidden;
	}

	.sell .form-group:after, 
	.sell .form-group:before {
	    content: " ";
	    display: table;
	}

	.agreement { margin-bottom: 30px; }

	.login button.btn-primary, 
	.login a.btn-default { padding: 5px; }

	a.btn-default:hover,
	a.btn-default:focus, {
	    color: #fff;
	    background-color: #286090;
	    border-color: #122b40;
	}

	.form-horizontal .control-label,
	.panel-body .control-label {
		color: #000;
		font: 14px "Lato";
		padding-bottom: 7px;
    	padding-top: 7px;
		text-align: left; 
	}

	.sign-up .panel.panel-default { 
		padding-top: 0px;

	}

	.sign-up .form-horizontal .control-label {
		margin-bottom: 10px;
	}

	.sign-up .form-horizontal .agreement .control-label,
	.sign-up .form-horizontal .control-label.regseller-label {
		padding-top: 0;
	}

	.sign-up .form-horizontal .agreement input[type="checkbox"] {
		vertical-align: sub;
	}

	.sign-up .form-horizontal .control-label.regseller-label {
		vertical-align: middle;
	}

	.sign-up .comp-address input,
	.sign-up .comp-address .select-chosen {
		width: 95%;
    }

    .sign-up .comp-address .compaddr-input {
		margin-right: 5px;
		width: 32.5%; 
    }

	.sign-up button.btn,
	.sell button.btn,
	.edit-gears button.btn {
		padding: 12px 65px;
	    color: #fff;
	    font: 18px Lato;
	    border-radius: 0;
	    -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	}	

    .no-mr {
    	margin-right: 0 !important;
    }

    .no-pr {
    	padding-right: 0 !important;
    }

    .clr {
    	clear: both;
    	overflow: hidden;
    }

	.help-block { font: 14px "Lato"; }

	.form-group { margin-bottom: 7px; }

	.shipping-heading {   

		div label.control-label { 
			background: #30cc79;
			color: #fff; 
		}
	}

	.form-control { 
		border: 1px solid #d2d2d2; 
		-webkit-border: 1px solid #d2d2d2; 
		-moz-border: 1px solid #d2d2d2; 
		-ms-border: 1px solid #d2d2d2; 

		&.has-error{
			border-color: #a94442;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		}
	}

	input.form-control,
	select.form-control{
		// border: none;
	 //    -webkit-border: none;
	 //    -moz-border: none;
	    box-shadow: 0;
	    -webkit-box-shadow: 0;
	    -moz-box-shadow: 0;
	    color: #000;
	    font-style: normal;
	    font-weight: 500;
	}

	.form-group ul {
		margin-top: 15px;
		li { 
			color: #6d6d6d;
			font: 700 16px "lato"; 
			list-style: none;
			padding: 5px 0 5px 22px;
			position: relative;

			.fa.fa-check-circle {
				color: #30CC79;
			    position: absolute;
			    left: 0;
			    top: 10px;
			}

			span { color: #30cc79; }
		}


	}

	.colm1 { border-right: 1px solid #dedede; }

		/* MODIFIED CURRENCY FIELD */
		.currency-field {
			position: relative;
    		padding: 0 4px 0 15px;
			
			.form-control { padding: 6px 4px 6px 15px; }

				i.fa.fa-usd { 
					left: 19px; 
					color: #ADADAD;
					position: absolute;
	    			top: 10px;

				}			
		}

		/* IF THE 2ND CURRENCY FIELD IS INLINE TO THE FIRST CURRENCY FIELD */
		.separator {
			padding: 0;
			width: 4%;

			i { margin-top: 9px; }
		}

		.form-group.second-currency-field {
			padding: 0 4px;

			i.fa.fa-usd {
				left: 8px;
			}
		}

		/* MODIFIED SELECT */
		.select-chosen { height: 34px; }
			.chzn-container { 
				width: 100% !important; 
				}

				.chzn-container-single {
					ul li { 
						color: #000;
						font: 14px "Lato"; 
					}

					.chzn-single {  
						background: rgba(255,255,255,1);
						background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
						background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(241,241,241,1)), color-stop(51%, rgba(222,219,222,1)), color-stop(100%, rgba(241,241,241,1)));
						background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
						background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
						background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
						background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 );
						// border: none;
						// -webkit-border: none;
						// -moz-border: none;
						// -ms-border: none;
						border: 1px solid #d2d2d2;
						-webkit-border: 1px solid #d2d2d2;
						-moz-border: 1px solid #d2d2d2;
						-ms-border: 1px solid #d2d2d2;
						box-shadow: none;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						-ms-box-shadow: none;
						font: 14px "Lato";
	    				height: 34px;

	    				span {
	    					appearance: none;
							-webkit-appearance: none;
							-moz-appearance: none;
							-ms-appearance: none;
							box-shadow: none;
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							-ms-box-shadow: none;
	    					color: #000;
	    					font: 14px/34px "Lato";
							height: 34px; 
	    				}

	    				div {  
	    					background: rgba(255,255,255,1);
							background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
							background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(241,241,241,1)), color-stop(51%, rgba(222,219,222,1)), color-stop(100%, rgba(241,241,241,1)));
							background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
							background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
							background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
							background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 );
	    					border: none;
							-webkit-border: none;
							-moz-border: none;
							-ms-border: none;
	    					width: 27px;

	    					b {  
	    						background-position: 4px -1px;
	    					}
	    				}

	    				&.has-error{
	    					border-color: #a94442;
							box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    				}
					}

					.chzn-drop { 
						width: 100% !important; 

    					.chzn-search input { 
	    					background-position: 100% -48px;
	    					color: #000;
	    					font: 14px/20px "Lato";
	    					width: 100% !important;
	    				}
    				}
				}

			.chzn-container-active .chzn-single-with-drop { 
				background: rgba(255,255,255,1);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(241,241,241,1)), color-stop(51%, rgba(222,219,222,1)), color-stop(100%, rgba(241,241,241,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(222,219,222,1) 51%, rgba(241,241,241,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 );
			}

			.chzn-container-active .chzn-single-with-drop div b { 
				background-position: -33px -1px;
			}

		.custom-select:after {
			border: 1px solid #d2d2d2;
			-webkit-border: 1px solid #d2d2d2;
			-moz-border: 1px solid #d2d2d2;
			-ms-border: 1px solid #d2d2d2;
		    content: "\25bc";
		    position: absolute;
		    top: 0;
		    right: 0;

		    bottom: 0;
		    font-size: 100%;
		    line-height: 34px;
		    padding: 0 6px;
		    background: #E6E6E6;
		    color: #aaa;
		    pointer-events: none;
		    -webkit-border-radius: 0 3px 3px 0;
		    -moz-border-radius: 0 3px 3px 0;
		    -ms-border-radius: 0 3px 3px 0;
		    border-radius: 0 3px 3px 0;
		}

		.form-horizontal .custom-select:after {
			right: 15px;
		}

			select {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				background: #fff;
				box-shadow: none;
				font-size: 13px;
				font-style: normal;
				position: relative;
				padding-right: 30px;
				width: 100%;
			}

			select:focus {
				border-color: #E6E5E5;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
				-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
				-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),0 0 8px rgba(156, 156, 156, 0.6);
			}

		/* MODIFIED CHECKBOX */
		input[type="checkbox"] {
			background-color: #26bfff;
		    background-image: none;
		    border: 1px solid #26bfff;
		    -webkit-border: 1px solid #26bfff;
		    -moz-border: 1px solid #26bfff;
		    -ms-border: 1px solid #26bfff;
		    border-radius:3px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		    -ms-border-radius: 3px;
		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		    display: inline-block;
		    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		}

		/* Base for label styling */
		input[type="checkbox"]:not(:checked),
		input[type="checkbox"]:checked {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			background: rgba(38,190,255,1);
			background: -moz-linear-gradient(top, rgba(38,190,255,1) 0%, rgba(38,190,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,190,255,1)), color-stop(100%, rgba(38,190,255,1)));
			background: -webkit-linear-gradient(top, rgba(38,190,255,1) 0%, rgba(38,190,255,1) 100%);
			background: -o-linear-gradient(top, rgba(38,190,255,1) 0%, rgba(38,190,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(38,190,255,1) 0%, rgba(38,190,255,1) 100%);
			background: linear-gradient(to bottom, rgba(38,190,255,1) 0%, rgba(38,190,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26beff', endColorstr='#26beff', GradientType=0 );	
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    		border: 1px solid #26bfff;
		    -webkit-border: 1px solid #26bfff;
		    -moz-border: 1px solid #26bfff;
		    -ms-border: 1px solid #26bfff;
		    border-radius:3px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		    -ms-border-radius: 3px;
			height: 17px;
		    margin-top: 6px;
		    margin-right: 10px;
		    position: relative;
		    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    		-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    		-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    		-ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			width: 18px;
		}

		input[type="checkbox"]:after {
			content: '✔';
			position: absolute;
		    top: 3px;
		    left: 2px;
		    font-size: 12px;
		    line-height: 0.8;
		    color: #fff;
		    transition: all .2s;
		}

		/* checked mark aspect changes */
		input[type="checkbox"]:not(:checked):after {
		  opacity: 0;
		  transform: scale(0);
		}

		input[type="checkbox"]:checked:after {
		  opacity: 1;
		  transform: scale(1);
		}

		input[type="checkbox"]:focus {
			border-color: #66afe9;
		    outline: 0;
		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		}

		/* MODIFIED FILE */
		#uploadFile {
			border-radius: 3px 0 0 2px;
			-webkit-border-radius: 3px 0 0 2px;
			-moz-border-radius: 3px 0 0 2px;
			-ms-border-radius: 3px 0 0 2px;
		    background: #fff;
		    display: inline-block;
		    width: 70%;
		}

		.fileUpload {
			background: #929292;
		    border: 1px solid #929292;
		    -webkit-border: 1px solid #929292;
		    -moz-border: 1px solid #929292;
		    -ms-border: 1px solid #929292;
		    border-radius: 0 3px 3px 0;
		    -webkit-border-radius: 0 3px 3px 0;
		    -moz-border-radius: 0 3px 3px 0;
		    -ms-border-radius: 0 3px 3px 0;
		    float: right;
		    height: auto;
		    overflow: hidden;
		   	position: relative;
		    width: 30%;
		}

		.fileUpload  span {
			font: 14px "Lato";
		}

		.fileUpload input.upload {
		    position: absolute;
		    top: 0;
		    right: 0;
		    margin: 0;
		    padding: 0;
		    font-size: 20px;
		    cursor: pointer;
		    opacity: 0;
		    filter: alpha(opacity=0);
		    width: 100%;
		}

		/* MULTIPLE UPLOAD */
		/*Label*/
		.multiple-uploads span {
			font-size: 12px;
		}

		.multiple-uploads .capacity-limits {
			float: right;
    		font-style: italic;
		}

		#my-awesome-dropzone {
			color: #fff;
		    border: none;
		    background: #888;
			float: right;
		    height: auto;
		    margin: 0;
		    padding: 0;
		    width: 30%;
		}

		.dropzone { 
			border: none;
    		background: none;
			min-height: 0;
			

			.dz-message { margin: 0; }

			.dz-preview { 
				margin: 7px; 

				.dz-image { z-index: 9; }
			}
		}

		#imagePreviews {
			padding-left: 0px;
    		padding-right: 0px;
		}

		/* MODIFIED BUTTON */
		button.btn-primary,
		a.btn-default {
		    background-color: #EC4C08;
		    border: none;
		    -webkit-border: none;
		    -moz-border: none;
		    -ms-border: none;
		    border-radius: 0;
		    -webkit-border-radius: 0;
		    -moz-border-radius: 0;
		    -ms-border-radius: 0;
		    color: #fff; 
		    font: 14px "Lato";
		    padding: 5px 88px;
		}

		/* TEXTAREA */
		textarea,
		textarea.form-control {
			// border: none;
			// -webkit-border: none;
			// -moz-border: none;
			// -ms-border: none;
			color: #000;
			font-style: normal;
			resize: none;
		}

		/* ADDING FIELD W/ VALUE */
		.multi-fields > div {
			border-bottom: 1px solid #dedede;
			-webkit-border-bottom: 1px solid #dedede;
			-moz-border-bottom: 1px solid #dedede;
			padding-bottom: 10px;
   			padding-top: 10px;

			&:last-child { 
				border-bottom: none;
				-webkit-border-bottom: none;
				-moz-border-bottom: none;
			}
		}

		.add-container {
			color: #30CC79;
			font: 16px "Lato";
			padding: 10px 0;
			text-align: right;

			button {
				background: none;
			    border: none;
			    -webkit-border: none;
			    -moz-border: none;
			    color: #30CC79;
			    font-size: 20px;
			}
		}

		.optionsbtn {
			font: 16px "Lato";
			padding: 0 0 0 15px;

			button {
				background: #30CC79;
			    border: none;
			    -webkit-border: none;
			    -moz-border: none;
			    border-radius: 3px;
			    -webkit-border-radius: 3px;
			    -moz-border-radius: 3px;
			    color: #fff;
			    font-size: 20px;
			    padding: 6px 10px;
			}
		}
		
		/* TEXTAREA */
		.trumbowyg-box {
			border: 1px solid #d2d2d2;
			-webkit-border: 1px solid #d2d2d2;
			-moz-border: 1px solid #d2d2d2;
    		border-radius: 4px;
    		-webkit-border-radius: 4px;
    		-moz-border-radius: 4px;
		}

		.form-group .trumbowyg-editor { 
			color: #555555;
    		font-style: normal;
			font-family: Arial, Helvetica, sans-serif; 

			h1 { 
				font-size: 20px; 
				font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
			}
			h2 { 
				font-size: 18px; 
				font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
			}
			h3 { 
				font-size: 15px; 
				font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
			}
			h4 { 
				font-size: 13px; 
				font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
			}
			h5 { 
				font-size: 12px; 
				font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
			}
			h6 { 
				font-size: 11px; 
				font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
			}

			p { 
				color: #555555;
	    		font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
				line-height: 20px;
				margin-bottom: 7px; 
			}

			ul, ol {
				margin-top: 15px;
				li {
					color: #555555;
					font-weight: normal;
    				list-style: inherit;
					padding: 0 0 5px 5px; 

					a { 
						color: #555555; 
						font-style: normal;
						font-family: Arial, Helvetica, sans-serif; 
					}
				}

				li:last-child { padding-bottom: 0; }
			}

			a { 
				color: #555555;
	    		font-style: normal;
				font-family: Arial, Helvetica, sans-serif; 
			}
		}

		.trumbowyg-button-pane { background: none; }

		.trumbowyg-overlay { background-color: rgba(222, 222, 222, 0.5); }

		.trumbowyg-modal-box { 
			    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;

			.trumbowyg-modal-title { 
				background: #efefef;
				color: #333;
				font-size: 17px;
	    		font-family: Lato;
	    		font-style: normal;
			}
			label .trumbowyg-input-infos span {  
				background: none;
				color: #333;
				font-size: 14px;
	    		font-family: Lato;
	    		font-style: normal;
	    		width: 31%; 
			}

			label input { 
				background: none;
				color: #333;
				font-size: 14px;
	    		font-family: Lato;
	    		font-style: normal;
	    		width: 70%;
			}

			.trumbowyg-modal-button.trumbowyg-modal-submit { 
				border: 1px solid #4cae4c; 
			    background-color: #5cb85c;
			    border-color: #4cae4c;
			    color: #fff;

			    &:hover {
				    color: #fff;
				    background-color: #449d44;
				    border-color: #398439;
				}
			}

			.trumbowyg-modal-button.trumbowyg-modal-reset {
			    background-color: #d9534f;
			    border-color: #d43f3a;
			    color: #fff;

			    &:hover {
				    background-color: #c9302c;
				    border-color: #ac2925;
				    color: #fff;
				}
			}
		}


		/* NOTIFICATION */
		.toast-message {
			font: 14px "Lato";
		}

		/* MODAL FORMS*/
		.modal-header .close {
		    color: #444;
		    opacity: .9;
		    font-family: Lato;
		    margin-top: -2px;
		}

		.modal-header h4.modal-title,
		.modal-body .bootbox-body h3 {
			color: #898989;
		    font-size: 17px;
		    font-family: Lato;
		}

		.bootbox-body .control-label {
			color: #898989;
			font: 14px "Lato";
			padding-bottom: 7px;
	    	padding-top: 7px;
			text-align: left; 
		}

		.bootbox-body .form-control {
			font: 14px "Lato";

			small { font-family: "Lato"; }
		}

		.modal-footer button {
			font-size: 17px;
    		font-family: Lato;
		}

	/* PRODUCTS - HOME & GEAR */
	/* PRODUCT ITEM */
	.single-page .items-container { background: none; }
	.product-gear .mix{
	    display: none;
	}

	/* GEAR */
		/* OPTIONS */
		.most-recent-view-container {  
			margin-top: 15px;
	    	text-align: right;
		}

		.most-recent { 
			line-height: 15px;
			padding-right: 0; 
			padding-left: 0;

			select {
				font-size: 13px;
				height: 30px;
				padding: 3px 6px;
			}

			.custom-select:after {
				line-height: 28px;
			}
		}


		/* Image Hover */
		.my-gears .list .product-item .listview .img-container a:hover img, 
		.list .product-item .listview .img-container a:hover img, 
		.product-container.grid .product-item .gridview .gear-img img:hover, 
		.product-container .grid .product-item .gridview .gear-img img:hover, 
		.product-gear.grid .product-item .gridview .gear-img img:hover, 
		.product-gear .grid .product-item .gridview .gear-img img:hover { opacity: .85; }

		/* LIST VIEW */
		.product-gear.list .mix{
		  width: 100%;
		}

		.items-container .product-item .listview { 
			border-bottom: 1px solid #e0e0e0;
			float: none; 
		}

		.items-container .product-item:last-child .listview,
		.items-container .list .product-item:last-child .listview  { border-bottom: none; }

		.list .add-to-cart, .list .buy-now { float: none; }
		.listview {  		    
		    background: #fff;
		    margin: 0 auto;
		    padding-top: 15px;
		    padding-bottom: 15px;

		    .content-container {
		    	margin: 0;
				padding-top: 0px; 

				h3.item-title {  
					font-size: 28px;
					padding-bottom: 15px;
			    	line-height: 25px;

			    	a { 
			    		color: #606060; 
			    		line-height: 35px;
			    	}

			    	span {  
			    		color: #606060;
			    		font-weight: normal;
						display: block;
						font-size: 12px;
						font-style: italic;

						.contact-name { 
							color: #606060;
							display: inline;
							font-weight: bold; 
						}
					}
				}

				.contact-seller {
				    background: #D6D6D6;
				    border-radius: 3px;
				    -webkit-border-radius: 3px;
				    -moz-border-radius: 3px;
				    -ms-border-radius: 3px;
				    color: #fff;
				    font-size: 13px;
				    float: right;
				    padding: 5px 10px;
				    width: auto;

				    .chat {
					    float: left;
					    font-size: 16px;
					    padding-right: 20px;
					}
				}

				.price {
				    color: #189CB2;
				    display: block;
				    font-weight: bold;
				    font-size: 16px;
				    margin-top: 0;
				    margin-top: 10px;
				    .cross-out{
				    	font-size: 14px;
						text-decoration: line-through;
				    }
				    span {
						font-size: 11px;
		    			font-weight: normal;
					}
				}

				.item-desc { 
		    		font-size: 16px;
		    		font-weight: normal;
					margin: 0 auto;
					text-align: left;
				}
		    }
		}

		/* GRID VIEW */
		.product-container.grid .product-item .gridview,
		.product-container .grid .product-item .gridview,
		.product-gear.grid .product-item .gridview,
		.product-gear .grid .product-item .gridview,
		.my-gears .product-item .gridview { 
			background: #fff;
			box-shadow: 0px 1px 8px #e0e0e0;
			float: none; 
			overflow: hidden;

    			.gear-img {  
    				display: block;
    				margin-bottom: 15px;

    				img { width: 100%; }
    			}

	    		h3 {  
				font-weight: bold;
				font-size: 16px;

		    	a { color: #606060; }

		    	span {  
		    		font-weight: normal;
					display: block;
					font-size: 12px;

					.contact-name { 
						color: #606060;
						display: inline;
						font-weight: bold; 
					}
				}
			}
		}


		.edit-product {
		    background: #D6D6D6;
		    border-radius: 3px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		    -ms-border-radius: 3px;
		    color: #fff;
		    font-size: 13px;
		    float: right;
		    padding: 5px 10px;
		    width: auto;

		    a { color: #545454; }
		    a:hover {
		    	color: #000;
		    	text-decoration: none;
		    }

		    i {
			    float: left;
			    font-size: 16px;
			    padding-right: 20px;
			}
		}

	/* Edit Gear
	   Remove img
	*/
	.photo-container .primary-img-con {  
		border: 2px solid #000;
	}

	.photo-container .primary-photo { display: none; } 
	.photo-container .add-primary-photo {
		background: #26beff;
	    border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    color: #fff;
	    font-size: 21px;
	    height: 50px;
	    left: 30%;
		position: absolute;
	    top: 30%;
	    width: 50px;
	    visibility: hidden;
	    z-index: 99;

	    &:before {
	    	left: 30%;
   			position: absolute;
	    	top: 30%;
	    }
	}

	.photo-container .delete-img {
		background: #fff;
	    border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    color: #ec3f3f;
	    font-size: 22px;
	    height: 19px;
		position: absolute;
	    top: 3px;
	    right: 5px;
	    width: 18px;
	    z-index: 99;
	}

	.newly-add {
		padding: 0;
    	margin: 7px 0;

    	#imagePreviews { padding: 0; }
	}

	/* PRODUCT DETAILS */
	/* Sidebar */
	.gear-details.single-page .items-container {
		width: inherit;
	    /* background: #f7f6f6; */
	    // margin-left: 20px;
	    // padding-right: 25px;
	}
	.gear-details .sidebar-container {
		// padding-left: 0;
  //   	padding-right: 0;
  //   	padding-top: 45px;
  //   	padding-bottom: 40px;
    	// margin-left: 15px;
    	background-color: transparent;
    	padding: 0 15px 0 0;
    	margin: 0;
	}
	.gear-details .sidebar-container div {
		background: #fff;
		border: none;
		font-size: 14.5px;
		padding: 0; /* 20px 20px 20px; */
	}

	.gear-details .sidebar-container .related-item { margin-top: 40px; }

	.gear-details .sidebar-container div.share-container {	
	    margin-top: 3px;

	    span {
	    	color: #848484;
		    font-family: "Lato";
		    font-weight: 700;
		    font-size: 14px;
	    }
	}    

	.gear-details .sidebar-container .options-container {
		text-align: center;
		padding: 0;

		.price {
			display: block;
			margin-bottom: 10px;
			padding-top: 20px;
			float: none;
			.product-price, .sale-price{
				font-size: 35px;
				font-weight: bold;
				text-align: center;
				color: #189cb2;
				.cross-out{
					font-size: 24px;
					text-decoration: line-through;
				}
				span{
					font-size: 18px; 
				}
			}
		}

		.price span { 
			font-size: 20px; 
			font-weight: normal;
		}

		.make-an-offer,
		.contact-seller {
			border-radius: 7px;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			display: block;
			font-size: 16px;
			margin-bottom: 5px;
			padding: 12px; /* 7px; */
			position: relative;
			width: 100%;
		}

		.make-an-offer { background: #189cb2; }

		.make-an-offer i {  
			border: 1px solid #fff;
			left: 33px;
    		padding: 0px 5px;
    		/* position: absolute; */
		    top: 5px;
		    vertical-align: middle;
		    margin-right: 4px;
		}

		.contact-seller {
			background-color: #449d44;
			color: #ffffff;
		}

		.contact-seller i {  
			left: 33px;
    		position: absolute;
    		padding: 0px 5px;
		}

		.contact-seller small {  
			font-size: 16px;
		}
	}

	.gear-details .sidebar-container .seller-container {
		span { 
			display: block; 
			padding-bottom: 5px;
			color: #848484;
		    font-family: "Lato";
		    font-weight: 700;
		    font-size: 14px;
		}

		span:last-child { padding-bottom: 0; }
		span.seller-name { font-weight: bold; }
	}

	.gear-details .sidebar-container .share-container {
		span { display: block; }

		a { 
			display: inline-block; 
			padding-right: 5px;
		}

		a:last-child { padding-right: 0; }

		img { width: 20px; }
	}

	/* Product Item */
	.gear-details .item-title { 
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
		color: #189cb2;

		span { 
			display: block;
			font-size: 14px; 
			font-weight: bold;
			color: #6f6f6f; /* #707070; */
			margin-top: 5px;
		
			.contact-name { 
				display: inline;
				font-weight: bold;
			}
		}
	}

	.gear-details .image-carousel {
		.image-carousel-container{
			height: 550px;
			img{
			    text-align: center;
			    margin: 0 auto;
			    position: relative;
			    max-height: 100%;
			    height: 100%;
			}
		}

	}
	.gear-details .sidebar-slider{
        position: relative;
        top: -16px;
    }
    .gear-details .section-top{
        margin: 50px 0 0 0;
    }
	.gear-details .image-slider-container{

		.image-slider.slick-vertical .slick-slide{
	        margin: 8.5px 0;
	    }
		position: relative;

		.prev-slick{
		   position: absolute;
		    bottom: -38px;
		    margin: 0 auto;
		    width: 27px;
		    height: 27px;
		    z-index: 9989;
		    left: 0;
		    right: 0;
		    background: url('down.png') no-repeat;
		    background-position: center center;
		    background-size: 27px 27px;
		    background-color: transparent;
		    border-radius: 5px;
		}
		.next-slick{
		    position: absolute;
		    top: -38px;
		    margin: 0 auto;
		    width: 27px;
		    height: 27px;
		    z-index: 9989;
		    left: 0;
		    right: 0;
		    background: url('up.png') no-repeat;
		    background-position: center center;
		    background-size: 27px 27px;
		    background-color: transparent;
		    border-radius: 5px;
		}
		.image-slider{

				.slick-track{
		            padding: 0;
					// margin: -10px 0;
		        }

				.slick-current .image-slider-individual{
		            border: 2px solid #000;
		            // transform: scale(1.20);
		        }
		        .image-slider-individual{
		            width:185px;
		            height: 125px;
		            margin: 0 auto;
		            background-position: center center;
		            background-repeat: no-repeat;
		            background-size: cover;
		        }
		        .slick-prev:before, .slick-next:before{
		            color: #000;
		        }
		        .slick-prev {
		            left: 0;
		            top: -35px;
		            right: 0;
		            z-index: 998;
		            margin: 0 auto;
		            /* Safari */
		            -webkit-transform: rotate(90deg);
		            /* Firefox */
		            -moz-transform: rotate(90deg);
		            /* IE */
		            -ms-transform: rotate(90deg);
		            /* Opera */
		            -o-transform: rotate(90deg);
		        }
		       
		        .slick-next{
		            right: 0;
		            left: 0;
		            top: inherit;
		            bottom: -20px;
		            z-index: 998;
		            margin: 0 auto;
		            /* Safari */
		            -webkit-transform: rotate(90deg);
		            /* Firefox */
		            -moz-transform: rotate(90deg);
		            /* IE */
		            -ms-transform: rotate(90deg);
		            /* Opera */
		            -o-transform: rotate(90deg);
		        }
		        .image-slider .slick-vertical .slick-slide {
		            display: block;
		            height: auto;
		            border: 1px solid transparent;
		            cursor: pointer;
		        }
			}

	}

	.gear-details .image-big {
		// padding-right: 17px; /* 10px;  */
		// float: none;
		// margin: 0 auto 25px; /* 15px; */
		// height: 100%;
    	// overflow: hidden;
    	// background-color: #000;

    	img {
    		// width: 100%;
    		margin: 0 auto;
			// max-width:100% !important;
			// height:100%;
			display:block;
    	}
	}
	.gear-details .image-part {
		// padding-left: 0; /* 15px; */
		// padding-right: 12px;
		// overflow: hidden;
		// margin-left: 1px;
	
		.slick-list {
			padding: 0 !important; /* 0 50px 0 0 !important; */
		}

		.slick-track {
		    left: 0 !important;
		    width: 100% !important;
		}

		.img-wrap {
			padding-left: 0;
			// height: 115px;
    		overflow: hidden;
    		// margin-bottom: 10px;
    		// padding-right: 0;
		    // margin-right: 25px;
		    // min-width: 22.5%;
		    margin: 0;

		    li:hover {
		    	cursor: pointer;
		    }
		}

		// .img-wrap:last-child {
		// 	margin-right: 0;
		// }

		img { 
			// background: #fff;
			// max-width: 100%;
			// margin-bottom: 17px;
			// height: 0;
			// width: 0;
			// vertical-align: middle;
			// height: 115px;
			// width: auto; /* 100%; */
		}

		.sidebar-thumbnail img {
			width: 100%;
			height: auto;
		}

		// img:last-child { margin-bottom: 0; }

		.bx-wrapper .bx-viewport {
			left: 0;
		    box-shadow: 0 0 0 #ccc;
    		border: 0;
		}

		.bx-wrapper .bx-controls-direction a {
			margin: 0 auto;
			left: 0;
			right: 0;
			background-size: 32px 32px;
			background-position: center center;
			&.bx-next{
				top: 0;
				background: url('images/arrow-up.png') no-repeat;
			}
			&.bx-prev{
				bottom: 0;
				top: inherit;
				background: url('images/arrow-down.png') no-repeat;
			}
		}
		
		.bx-wrapper .bx-controls-direction a, 
		.bx-wrapper .bx-controls-direction a:before, 
		.bx-wrapper .bx-controls-direction a:after {
			transition: all 0s linear !important;
    		-webkit-transition: all 0s linear !important;
		}

		.bx-wrapper .bx-next {
    		right: 3px;
    	}	

    	.bx-controls-direction a {
		    display: none;
		}

		.bx-wrapper:hover .bx-controls-direction a {
		    display: block;
		    z-index: 100;
			display: block;
			margin: 0 auto;
			left: 0;
			right: 0;
		}
	}
	.gear-details .image-part.related-item {

		h2 {
			margin-bottom: 15px;
			color: #707070;
    		font-size: 15px;
		}

		.sidebar-thumbnail {
			display: block;
		    margin-bottom: 10px;
		    position: relative;
		    .image-container{
                height: 135px;
                width: 100%;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                background-repeat: no-repeat;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }
		    span {
			    position: absolute;
			    bottom: 0;
			    background-color: #000;
			    color: #fff;
			    font-size: 14px;
			    width: 100%;
			    text-align: center;
			    padding: 11px 0;
			    opacity: 0.8;
			    display: none;
			}
		}
	}

    .gear-details .image-part.related-item .sidebar-thumbnail span {
    	display: block;
    }

	// TAB ~~~~~~~~~~~~~~~ (.)(.)
	.product-details .tab {
	    color: #888;
	    font-weight: 300;
	    line-height: 1.5;
	    margin: 0 auto;
	    overflow: hidden;
		padding-top: 72px;
	    padding-bottom: 15px;
	    position: relative;
	    -webkit-font-smoothing: antialiased;
	}

	.product-details .tabs {
		display: table;
		position: relative;
		overflow: hidden;
		margin: 0;
		width: 100%;
		
		li {
			float: left;
			line-height: 38px;
			overflow: hidden;
			padding: 0;
			position: relative;
			margin-right: 2px;
		}

		.current a {
			color: #fff;
			background: #239aae;
			border-top: 2px solid #239aae;
			border-left: 2px solid #239aae;
			border-right: 2px solid #239aae;
		}

		a {
			background-color: #ffffff; 
			border-top: 2px solid #e4e4e4;
			border-left: 2px solid #e4e4e4;
			border-right: 2px solid #e4e4e4;
			color: #707070;
			font-weight: 700;
			display: block;
			letter-spacing: 0;
			outline: none;
			padding: 0 25px;
			text-decoration: none;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			border-top-left-radius: 9px;
    		border-top-right-radius: 9px;
    		font-size: 15px;
		}
	}

	.tab_content {
		background: #eeeeee;
		color: #444;
		padding: 0 25px;
		border-top-right-radius: 9px;
    	border-bottom-left-radius: 9px;
    	border-bottom-right-radius: 9px;

		.tabs_item {
			display: none;
			padding: 30px 0;

			// h1 { 
			// 	font-size: 20px !important; 

			// 	span { font-size: 20px !important; }
			// }
			// h2 { 
			// 	font-size: 18px !important; 

			// 	span { font-size: 18px !important; }
			// }
			// h3 { 
			// 	font-size: 15px !important; 

			// 	span { font-size: 15px !important; }
			// }
			// h4 { 

			// 	font-size: 13px !important; 

			// 		span { font-size: 13px; }
			// }

			// h1, h2, h3, h4 { 
			// 	font-family: lato ;
			// 	font-weight: bold;
			//     color: #707070;

			//     span { 
			//     	font-family: lato !important;
			// 		font-weight: bold !important;
			// 	    color: #707070 !important;
			//     }

			//     sup {
			//     	font-family: lato !important;
			// 		font-weight: bold !important;
			// 	    color: #707070 !important;
			//     }
			// }

			ul li, ol li {
				color: #707070;
				clear: both;
			    font-size: 15px;
			    font-family: lato;
			    font-weight: normal;

			    	// span {
			    	// 	font-size: 15px !important;
			    	// 	font-family: lato !important;
				    // 	color: #707070 !important;
			    	// }
			    	
		
			    a {
			    	color: #189cb2;
			    	font-family: lato;
			    }
			}

			a,
			p { 
				color: #707070;
			    font-size: 15px;
			    font-family: lato;
			    font-weight: normal;
			    line-height: 20px;
			    margin-bottom: 7px; 

			    // span {
			    // 	color: #707070 !important;
				   //  font-size: 15px !important;
				   //  font-family: lato !important;
				   //  font-weight: normal !important;
				   //  line-height: 20px !important;
				   //  margin-bottom: 7px !important; 
			    // }
			}

			img {
				width: 200px;
				float: left;
				margin-right: 30px;
			}

			sup {
		    	font-family: lato !important;
				font-weight: normal !important;
			    color: #707070 !important;
		    }

			&:first-child {display: block;}

			.product-specs {
				margin-top: 20px;
				h4 {
					font-weight: bold;
					font-size: 24px !important;
				    margin-bottom: 15px;
				    color: #707070;
				}

				ul {
						margin-left: 0;
					li {
						color: #444;
						clear: both;
					    font-size: 15px;
					    font-family: lato;
					    font-weight: normal;
					    list-style: none;
					
					    b {
						    display: block;
						    float: left;
						    // width: 90px;
						    width: 105px;
						    color: #707070;
					    }
					    span {
					        color: #189cb2 !important;
					    }

					    a {
					    	color: #189cb2;
					    	font-family: lato;
					    }
					}
				}
				
			}
		}
	}

	

/* USERS */
	/* SELL GEAR */
	.sell .section-form {
		margin-bottom: 2px;
	}

		#upload-gear-photos, #update-photos {  
		    border: 3px dashed #d2d2d2;
		    -webkit-border: 3px dashed #d2d2d2;
		    -moz-border: 3px dashed #d2d2d2;
		    -ms-border: 3px dashed #d2d2d2;
			margin: 5px;
		}

		.dz-default.dz-message {
			background: #26beff;
			color: #fff;
		    font: 15px "lato";
		    padding: 10px;

		    .dropzone.dz-clickable .dz-message, 
		    .dropzone.dz-clickable .dz-message * { color: #fff; }
		}

		.img-con,
		.dz-processing {
		    border: 2px solid #d2d2d2;
		    -webkit-border: 2px solid #d2d2d2;
		    -moz-border: 2px solid #d2d2d2;
		    -ms-border: 2px solid #d2d2d2;
		    border-radius: 20px;
		    -webkit-border-radius: 20px;
		    -moz-border-radius: 20px;
		    -ms-border-radius: 20px;
		    margin: 7px;
		    padding: 5px;
		    width: auto;
		
		    img {
		    	border-radius: 20px;
		    	-webkit-border-radius: 20px;
		    	-moz-border-radius: 20px;
		    	-ms-border-radius: 20px;
		    	display: block;
		    	height: 120px;
		    	overflow: hidden;
		    	position: relative;
			    width: 130px;
			    z-index: 10;
		    }
		}

/*MESSAGES*/
	.messages {
		.sidebar-container {
			background: #fff;		    
			margin: 0;
			padding: 0;

			.message-heading{
				border-bottom: none;
				-webkit-border-bottom: none;
				-moz-border-bottom: none;
				padding: 0;

				h3 {
					background: none;
				    color: #666666;
				    display: inline-block;
				    font-size: 17px;
				    text-align: center;
				    width: 100%;
				}

				span {
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
				    background: #1f99ae;
				    color: #fff;
					display: inline-block;
					font-size: 24px;
				    height: 45px;
				    position: relative;
				    text-align: right;
				    vertical-align: middle;
				    width: 45px;

				    i {
				    	top: 25%;
					    left: 26%;
					    position: absolute;
				    }
				}
			}

			.message-search {
				padding: 0;

				form { 
					margin: 0;

					.text-field {
						background: #eeeeee;
						border-radius: 0;
						-webkit-border-radius:0;
						-moz-border-radius: 0;
					    border: none;
					    -webkit-border: none;
					    -moz-border: none;
					    box-shadow: none;
					    -webkit-box-shadow: none;
					    -moz-box-shadow: none;
						width: 85%;
					}
					.submit-btn {  
						background: #eeeeee;
						border-radius: 0;
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
					    border: none;
					    -webkit-border: none;
					    -moz-border: none;
					    box-shadow: none;
					    -webkit-box-shadow: none;
					    -moz-box-shadow: none;
						width: 15%;
					}

					.text-field:focus,
					.submit-btn:focus,
					.text-field:active,
					.submit-btn:active,
					.text-field:hover,
					.submit-btn:hover,
					.text-field:visited,
					.submit-btn:visited { 
						border-color: none;
					    outline: 0;
					}
				}
			}

			.users-container {
				height: 400px;
				overflow-y: scroll;

				.users {
					background: #fff;
					border-bottom: 1px solid #F7F6F6;
					-webkit-border-bottom: 1px solid #F7F6F6;
					-moz-border-bottom: 1px solid #F7F6F6;
					-ms-border-bottom: 1px solid #F7F6F6;
					padding: 5px; 
					position: cursor;

					a {
						width: 100%;
						.user-img-container {
							.user-pic {
								float: left;
					    		max-width: 100%;
					    		margin-right: 5px;
					    		-webkit-filter: grayscale(100%);
								filter: grayscale(100%);
								-webkit-transition: .3s ease-in-out;
								transition: .3s ease-in- out;
								width: 23%;
							}
						}

						.user-name {
							font-weight: bold;
							float: left;
							padding: 12px 0;
				    		width: 74%;
							
							.time { 
								float: right; 
								font-weight: normal;
				    			font-size: 12px;
							}

							.user-email { 
								float: none;
								font-weight: normal;
			    				font-size: 12px;
								text-decoration: none;
			    				width: inherit;
							}
						}
					}

					&:hover,
					&:hover .user-img-container img { 
						background: #189CB2; 
						color: #fff;

						.user-name { color: #fff; }
						.user-email { color: #3fd7f1; }

						-webkit-filter: grayscale(0);
						filter: grayscale(0);
					}
				}

				.users.active {
					background: #189CB2; 
					color: #fff;

					.user-img-container .user-pic { 
						-webkit-filter: inherit;
						filter: inherit;
					}

					.user-name { color: #fff; }
					.user-email { color: #3fd7f1; }
				}
			}
		}
	}

	.chat-box-container {
		background: #fff;
		margin-left: 20px;
		padding-top: 15px;
    	padding-bottom: 15px;
   		width: 73.2%;

   		hr { margin: 10px 0; }

   		.receiver-user {
   			.receiver-user-pic-container {
   				display: inline-block;
   				margin-right: 5px;
   				width: 9%;

   				img.receiver-user-pic {
	   				-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
					-webkit-transition: .3s ease-in-out;
					transition: .3s ease-in- out;
	   			}
   			}
   			
   			.receiver-user-name {
   				color: #686868;
   				display: inline-block;
				font-size: 16px;
	    		margin: 0;
	    		vertical-align: middle;
	    		width: 90%;

	    		span {
	    			display: block;
	    			font-size: 13px;
	    
	    			a {
	    				color: #686868;
	    				font-weight: normal;
	    			}
	    		}
			}
   		}
		

		.messages-container {
			height: 400px;
		    overflow-y: scroll;
		    margin-bottom: 15px;
		    padding: 10px 20px 20px 20px;

		    .date {
		    	color: #767676;
		    	margin: 10px 0 15px 0;
		    	text-align: center;	
		    }

		    .receiver-container,
			.sender-container {
				margin-bottom: 15px;

				img {
					background: #fff;
	    			width: 10%;
				}

				.message-container {
					width: 87%;
					p {
						background: #b1e6ff;
					    border-radius: 5px;
					    -webkit-border-radius: 5px;
					    -moz-border-radius: 5px;
					    color: #767676;
					    margin: 0 0 5px 0;
					    position: relative;
					    padding: 10px;
		    			width: auto;
		    			word-wrap: break-word;
					}
	    			h4 {
	    				font-size: 16px;
    					margin-bottom: 15px;
	    			}
				}
			}

			.receiver-container:last-child,
			.sender-container:last-child { margin-bottom: 0; }

			// .sender-container .message-container:after {
			// 	border-top: 15px solid transparent;
			//     border-bottom: 15px solid transparent;
			//     border-left: 15px solid #b1e6ff;
			// 	content: '';
			// 	height: 0;
			//     position: absolute;
			//     margin: 0;
			//     right: -15px;
			//     top: 3px;
			//     width: 0;	    
			// }

			// .receiver-container .message-container:after {
			// 	border-top: 15px solid transparent;
			//     border-bottom: 15px solid transparent;
			//     border-right: 15px solid #b1e6ff;
			// 	content: '';
			// 	height: 0;
			// 	left: -15px;
			//     position: absolute;
			//     margin: 0;
			//     top: 3px;
			//     width: 0;
			// }

			.receiver-container {
				// img { float: right; }
				.message-container { 
					float: left;
					p {
						background: #eee;
					}			
				}
			}
			.sender-container {
				// img { float: left; }
				.message-container { 
					float: right; 

					.created-at { 
						display: block;
						text-align: right; 
					}	
				}
			}
		}

		.textbox-area-container {
			    border: 2px solid #1f99ae;
			    -webkit-border: 2px solid #1f99ae;
			    -moz-border: 2px solid #1f99ae;
    			overflow: hidden;
    			
			textarea#message-textarea:disabled{
                background-color: transparent;
            }
			.textarea { 
				border: none;
				-webkit-border: none;
				-moz-border: none;
				-ms-border: none;
				border-radius: 5px; 
				-webkit-border-radius: 5px; 
				-moz-border-radius: 5px; 
				color: #8e8e8e;
			    display: inline-block;
		        font-style: normal;
			    font-size: 15px;
			    line-height: 20px;
			    font-family: lato;
			    float: none;
				font-style: none;
				padding-top: 11px;
	    		padding-bottom: 11px;
	    		width: 80%;

	    		&:hover,
	    		&:focus,
	    		&:visited,
	    		&:active {
	    			outline: none;
	    		}
			}
			.btn-send {
				background-color: #1f99ae;
	    		border-radius: 5px;
	    		-webkit-border-radius:5px;
	    		-moz-border-radius: 5px;
	    		display: inline-block;
	    		float: none;
				margin: 0px 10px 10px 10px;
				padding: 15px 50px;
				vertical-align: bottom;
				width: 17%;
				
			}
		}

		
	}
	
/* Override Bootstrap Pagination */
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
	background: #272a31;
	border: none;
	color: #fff;    
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.pagination > li > a, 
.pagination > li > span {
	background: #272a31;
	border: 1px solid #272a31;
	color: #fff;  
	margin: 0;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
	background-color: #dd4b1a;
    border-color: #dd4b1a;
}

.pagination > li > a:hover, 
.pagination > li > a:focus, 
.pagination > li > span:hover, 
.pagination > li > span:focus {
    color: #fff;
    background-color: #dd4b1a;
    border-color: #dd4b1a;
}


/* Page not found */
body.page-not-found-page {
	background: #565656;
    h3 {
    	color: #333;
    	font: 15px "Lato";
    }

    .page-not-found-container { margin-top: 50px; }

    .logo-container { 
    	margin-bottom: 30px;
    	
    	a:hover { text-decoration: none; }

    	h1 {
    	color: #fff;
    	font: 15px "Lato";
    	text-align: center;
    	}

    	img { margin: 0 auto; }


    }

    .alert-danger {
		background-color: #fff;
	    border-color: #f7f6f6;

	    .homepage-link {
	    	background: #009EC1;
	    	border-radius: 5px;
	    	-webkit-border-radius: 5px;
	    	-moz-border-radius: 5px;
	    	color: #fff;
		    font: 15px "Lato";
		    padding: 10px;
	    }
	}

	#branding-container { background: none; }
}

//  Checkout
.btn-checkout-submit{
	margin: 10px 0 0 0;
	.btn{
		font-weight: bold;
		font-size:16px;
		height: 43px;
	}
	.btn-checkout{
		
		color: #fff;
		background-color: #30cc79;
		border-color: #30cc79;
		&:hover{
			background-color: #40D485;
			color: #fff;
		}
	}
	.btn-paypal{
		background-color: #ffc833;
		color: #333;
		border: 1px solid #ffb200;
		.btn-img{
			margin: 0 0 0 5px;
		}
		&:hover{
			background-color:#FFCF4E;
		}
	}
}
.checkout {
	h3{
		font-size: 25px;
		color: #606060;
	}
	.inline-block{
		display: inline-block;
		vertical-align: top;
	}
	.checkout-items{
		margin: 25px 0 0 0;
		background-color: #efefef;
		.footer{
			padding: 25px 35px 40px 35px;
			.border-top{
				border-top: 1px solid #d7d7d7;
			}
			.checkout-total{
				margin: 25px 0 0 0;

				.overall-total { 
					border-top: 1px solid #d7d7d7;
					-webkit-border-top: 1px solid #d7d7d7;
					-moz-border-top: 1px solid #d7d7d7;
				    padding-top: 10px;
				    margin-top: 15px;
				    margin-bottom: 20px;

				    .checkout-total-label,
				    .checkout-total-content {
				    	font-size: 20px;
				    	color: #189cb2;
    					// color: #f04e41;
				    }
				}

				.checkout-total-label,
				.checkout-shipping-label{
					padding: 0 0 20px 0;
					font-size: 16px;
					color: #6f6f6f;
					font-weight: 900;
					width: 23%;
				}
				.checkout-total-content,
				.checkout-shipping-content{
					font-size: 16px;
					color: #189cb2;
					font-weight: 900;
					width: 75%;
					padding: 0 0 0 30px;
					float: right;
					.shipping-details {
						margin: 0 0 10px 0;
						.chzn-container-single{
							.chzn-single{
								background: #fff;
								span{
									color: #9999A2;
									font-weight: bold;
								}
							}
						}
						input.city{
							width: 35%;
						}
						.state{
							width: 35%;
						}
						input.zip{
							width: 28.5%;
						}
					}
				}
			}
		}
		table.table-checkout{
			position: relative;
			border: 0;
			border-collapse: collapse;
			thead {
				.header th:first-child{
					padding: 17px 0 17px 30px;
				}
				.header th{
					background-color: #189cb2;
					color: #fff;
					font-size: 16px;
					text-transform: uppercase;
					padding: 17px 0;
					text-align: center
				}
				th:first-child{
					width: 52%;
					border-radius: 5px 0 0 0;
					text-align: left;
					width: 70%;
				}
				th:last-child{
					border-radius: 0 5px 0 0;
					padding-right: 50px;
    				text-align: right;
				}
			}

			td, th{
				border: 0;
			}

			tbody{
				tr.item{
					td:first-child{
						padding: 35px 10px 15px 35px;
						text-align: left;
					}
					td{
						padding: 35px 50px 0px;
						vertical-align: top;
						text-align: right;
						input.quantity{
							width: 55%;
							margin: 0 auto;
							text-align: center;
							position:relative;
							top: -8px;
						}
						.checkout-img{
							width: 207px;
							img{
								width: 207px;
							}
						}
						.checkout-description{
							float: right;
							width: 302px;
							// margin: 0 0 0 25px;
							// width: 55%;
							.item-header{
								padding: 0 25px 0 0;
								margin: 0 0 10px 0;
								// height: 55px;
								p{
									font-size: 18px;
									margin: 0;
									color: #6f6f6f;
								}
							}
							.item-body{
								margin: 0 15px 0 0;
								.item{
									.item-content{
										.label-item{
											color: #6f6f6f;
											width: 100px;
										}
										.content{
											color: #189cb2;
										}
										.block{
											font-size: 14px;
											padding: 0 0 5px 0;
										}
									}
								}
							}
							.item-btn{
								margin: 6px 0 0 0;
								.btn-removeItem{
									color: #fff;
									font-weight: bold;
									// background-color: #f04e41;
									background-color: #189cb2;
								    padding: 7px 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}

// Checkout Summary
.checkout-summary {
	.row { 
		padding-top: 25px;
    	padding-bottom: 25px;

    	.heading-content { 
			p { 
				color: #5eb65f; 
				font-weight: bold;
			}
		}

		.bottom-content {
			button.btn-cont-schop { 
				font-size: 17px;
				padding: 20px 65px;
		    }
		}

		table.section-information-container {
			table-layout: inherit;

			tr.section-heading {
			    border-bottom: 1px solid #eaeaea;
			    -webkit-border-bottom: 1px solid #eaeaea;
			    -moz-border-bottom: 1px solid #eaeaea;
			    border-right: none;
			    -webkit-border-right: none;
			    -moz-border-right: none;
			    border-top: none;
			    -webkit-border-top: none;
			    -moz-border-top: none;
			    border-left: none;
			    -webkit-border-left: none;
			    -moz-border-left: none;			

			    th {
			    	padding: 15px 20px;
			    	h4 { font-size: 18px; }
			    }
			}

			tbody {
				tr {
					td { 
						border-right: none;
						-webkit-border-right: none;
						-moz-border-right: none;
						border-bottom: none;
						-webkit-border-bottom: none;
						-moz-border-bottom: none;
						padding: 5px 10px 5px 20px;  
						position: relative;
						vertical-align: bottom;

						h5 { font-size: 16px; }

						span.colon-separator { 
							position: absolute;
							right: 0;
						}

						span.lbl-name.total { font-weight: bold; }
					}

					td.section-content { padding: 5px; }

					td:last-child {
						border-right: 1px solid #eaeaea;
					    -webkit-border-right: 1px solid #eaeaea;
					    -moz-border-right: 1px solid #eaeaea;
					}
				}
				
				tr.section-sub-heading { 
					td {
				    	h4 { font-size: 18px; }
				    }
				    td:last-child { padding: 5px; }
				}

				tr.tbl-row {
					td.section-title { padding-top: 25px; }
				}

				tr.tbl-row:first-child {
					td.section-title { padding-top: 20px; }
				}

				tr:first-child {  
					td { padding-top: 20px; }
				}

				tr:last-child {  
					td {  
						border-bottom: 1px solid #eaeaea;
					    -webkit-border-bottom: 1px solid #eaeaea;
					    -moz-border-bottom: 1px solid #eaeaea;
					    padding-bottom: 25px;
					}
				}
			}
		}

		table#item {

			tbody {
				tr {
					td.section-label { padding-bottom: 20px; }
					td.section-content { padding-bottom: 20px; }
				}

				tr {
					td.section-content { padding-right: 20px; }
					td:last-child { 
						padding-right: 20px;
						text-align: right; 
					}
				}

				tr.tbl-row-total {  
					td:first-child {
						border-top: 1px solid #eaeaea;
						-webkit-border-top: 1px solid #eaeaea;
						-moz-border-top: 1px solid #eaeaea;
				    	padding: 15px 20px 15px 5px;
						font-size: 20px;
						text-align: right;
					}
					td:last-child {
						border-top: 1px solid #eaeaea;
						-webkit-border-top: 1px solid #eaeaea;
						-moz-border-top: 1px solid #eaeaea;
				    	padding: 15px 20px;
						font-size: 20px;
					}
				}
			}
		}
	}
}
	
.found-result{
	margin: 0 0 15px 0;
	p{
	    display: inline-block;
	    font-size: 15px;
	    font-weight: bold;
	    line-height: 3rem;
	    margin: 0;
	    margin-right: 5px;
	    vertical-align: top;
	}

	.result-detail { padding-left: 0 }
	.result-btn { 
		padding: 0; 
		text-align: right;
	}

	.result-btn{
		.btn-save-results{
			background-color: #f04e41;
			color: #fff;
			font-weight: bold;
		}
	}
}

ul.search-listing {
	display: inline-block;
    margin: 0;
    vertical-align: middle;

	li {
		background: #e2e0e0;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	    border: 1px solid #e2e0e0;
	    -webkit-border: 1px solid #e2e0e0;
	    -moz-border: 1px solid #e2e0e0;
	    float: left;
	    list-style: none;
	    margin-bottom: 5px;
	    margin-right: 5px;
	    padding: 5px;

	    i {    
	    	color: #444; 
	    	cursor: pointer;
	    }
	}

	&:last-child { margin-right: 0; }
}


/*Other Pages*/
.faqs{
	.faqs-content{
		padding: 20px 30px 100px 30px;
		.header-title{
			margin: 0 0 40px 0;
			h1{
				font-size: 35px;
				color: #606060;
			}
		}
		.img-faq{
			margin: 0 auto;
			
		}
		.section{
			margin: 0 0 35px 0;
			width: 100%;
			&:last-child{
				margin-bottom: 0; 
			}
			.icon-comment{
				background-image: url("/images/comments-icon.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 34px 28px;
				background-color: #2696aa;
				border-radius: 3px;
				color: #fff;
				padding: 30px;
				display: inline-block;
				vertical-align: top;
			}
			.content{
				display: inline-block;
				vertical-align: top;
				width: 85%;
	    		padding: 0 0 0 25px;
	    		.faq-title{
	    			font-size: 20px;
	    			color: #606060;
	    			margin: 10px 0 15px 0;
	    		}
	    		p{
	    			color: #919191;
	    			font-size: 14px;
	    			line-height: 22px;
	    			margin: 0;
	    		}
			}
		}
	}
}

.blogs{
	.blog{
		padding: 15px 10px;
		.blog-section{
			margin: 0 0 50px 0;
			.image-container{

			}
			.blog-header{
				margin: 20px 0 0 0;
				h3{
					font-size: 25px;
					color: #606060;
					line-height: 30px;
				}
				.blog-writer{
					margin: 10px 0 0 0;
					p{
						margin: 0;
						color: #9e9e9e;
						span{
							color: #606060;
							font-weight: 600;
						}
					}
					.writer{
						
					}
					.date{
						
						margin: 0 0 0 25px;
					}
				}
			}
			.blog-body{
				margin: 20px 0 0 0;
				p{
					color: #9e9e9e;
					font-size: 16px;
					line-height: 22px
				}
				.button-link{
					a{
						font-size: 14px;
						text-align: center;
						width: 153px;
						margin: 0;
						&:hover, &:focus{
							text-decoration: none;
						}
						.read-more{
							background-color: #6ed5d4;
							text-transform: uppercase;
							padding: 15px 0;
							border-radius: 4px;
                            font-weight: bold;
						}
					}
				}
			}
		}
	}
}


.header-title{
	text-align: center;
	margin: 50px 0 30px 0;
	h1{
		font-size: 35px;
		color: #606060;
	}
}
.image-banner{
	img{
		width: 100%;
	}
}

.list{
	margin: 0;
	ul{
		margin: 0;
		position: relative;
		li{
			list-style: none;
			padding: 0 0 0 30px;
			margin: 0 0 15px 0;
			
			p{
				font: 15px "Lato";
				color: rgb(0, 0, 0);
				margin: 0;
			}
			&:before{
				position: absolute;
				left: 0;
				content: url('/images/bullet.png');
			}
		}
	}
}

.why-use-gp{
	.gp-content{
		
		.section{
			padding: 0 150px 70px 150px;
			.list{
				margin: 0;
				ul{
					margin: 0;
					position: relative;
					li{
						list-style: none;
						padding: 0 0 0 30px;
						margin: 0 0 30px 0;
						h3{
							font-size: 18px;
						    color: #606060;
						    margin: 0 0 10px 0;
						}
						p{
							font-size: 16px;
							color: #7d7d7d;
							margin: 0 0 10px 0;
							line-height: 22px;
						}
						&:before{
							position: absolute;
	    					left: 0;
							content: url('/images/bullet.png');
						}
					}
				}
			}
		}
	}
}
.about-us{
	.aboutus-content{
		.section{
			padding: 0 150px 80px 150px;
			h3{
				font-size: 20px;
			    color: #606060;
			    margin: 0 0 15px 0;
			}
			p{
				text-align: center;
				font-size: 15px;
				margin: 0 0 20px 0;
				color: #7d7d7d;
				line-height: 22px;
			}
			ol{
				font-size: 15px;
				margin: 0 0 20px;
				color: #7d7d7d;
				line-height: 22px;
			}
			ul{
				font-size: 15px;
				margin: 0 0 20px;
				color: #7d7d7d;
				line-height: 22px;
			}
		}
	}
}
.policy{
	.aboutus-content{
		.section{
			padding: 0 150px 80px 150px;
			h3{
				font-size: 20px;
			    color: #606060;
			    margin: 0 0 15px 0;
			}
			p{
				text-align: left;
				font-size: 15px;
				margin: 0 0 20px 0;
				color: #7d7d7d;
				line-height: 22px;
			}
			ol{
				font-size: 15px;
				margin: 0 0 20px;
				color: #7d7d7d;
				line-height: 22px;
				padding-left: 3em;
			}
			ul{
				font-size: 15px;
				margin: 0 0 20px;
				color: #7d7d7d;
				line-height: 22px;
				padding-left: 3em;
			}

			li{
				margin-bottom: 5px;
			}
		}
	}
}

.shipping{
	.aboutus-content{
		.section{
			padding: 0 150px 80px 150px;
			h3{
				font-size: 20px;
			    color: #606060;
			    margin: 0 0 15px 0;
			}
			p{
				font-size: 15px;
				margin: 0 0 20px 0;
				color: #7d7d7d;
				line-height: 22px;
			}
		}
	}
}

.selling-music-gear{
	.selling-music-gear-content{
		.section{
			padding: 0 150px 80px 150px;
			h3{
				font-size: 20px;
			    color: #606060;
			    margin: 0 0 15px 0;
			}
			p{
				font-size: 15px;
				margin: 0 0 20px 0;
				color: #7d7d7d;
				line-height: 22px;
			}
		}
	}
}

.gear-photography {
	.row.main-row {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}

	.gear-photography-container { 
		.section{
			margin: 0px auto;
			float: none;

			p{
				font-size: 15px;
				margin: 0 0 20px;
				color: #7d7d7d;
				line-height: 22px;
			}
		}
		.product-item {
			padding-bottom: 15px;
		    padding-right: 7.5px;
		    padding-left: 7.5px;
			img {
				margin: 0 auto; 
				width: 100%;
			}
		}
	}
}
.forgot-password{
	padding-bottom: 0;
	.forgot-password-section{
		width: 553px;
		background-color: #f3f3f3;
		padding: 50px 60px 40px 60px;
		border-radius: 3px;
		margin: 22px auto 30px auto;
		.header-section{
			margin-bottom: 25px;
			h3{
				text-align: center;
				font-size: 20px;
				line-height: 25px;
				color: #616161;
				font-family: 'Lato';
				font-weight: bold; 
			}
		}
		.form-group{
			margin-bottom: 16px;
			.form-control{
				height: 50px;
				border: 1px solid #d8d8da;
				font-size: 17px;
				font-family: 'Lato';
				font-style: italic;
			}
			.button-forgot-password{
				width: 100%;
				background-color: #5cba61;
				text-transform: uppercase;
				font-family: 'Lato';
				font-size: 20px;
				color: #fff;
			}
		}
	}
}
.border-custom{
    border-top: 1px solid #eaeaea;
    margin: 30px 0 10px 0;
}

.page-icons{
	margin: 0px auto;
	width: 90%;

	.icon-img{
		padding: 16%;
	}
	.icon-title{
		text-align: center;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #606060;
		display: block;
		text-transform: uppercase;
		padding: 0px 10px;
	}
}
