@media(min-width: 1200px){
	.sign-up .container.reg-container {
	 	width: 62%;
	}

	.price {
		float: left;
	}

	.edit-btn,
	.add-to-cart,
	.buy-now {
		float: right;
	}
	.policy .aboutus-content .section{
		padding: 0 100px 80px;
	}
}

@media(min-width: 1140px){
	.price {
		float: left;
	}

	.edit-btn,
	.add-to-cart,
	.buy-now {
		float: right;
	}
}

@media(min-width: 768px) and (max-width: 1139px) {
	.product-container.grid .product-item .gridview, 
	.product-gear.grid .product-item .gridview, 
	.my-gears .product-item .gridview {
		padding-bottom: 7px;
	}

	.items-container .product-item div .price {
		margin-bottom: 8px;
	}

	.items-container .product-item div .add-to-cart,
	.items-container .product-item div .buy-now {
		display: block;
    	margin: 0 auto;
    	width: 52%;
	}

	.items-container .list .product-item div .buy-now {
		display: inline-block;
    	width: auto;
	}
	.policy .aboutus-content .section{
		padding: 0 50px 80px;
	}
}

@media(min-width: 858px) and (max-width: 968px) {
	.product-container.grid .product-item .gridview, 
	.product-gear.grid .product-item .gridview, 
	.my-gears .product-item .gridview {
		padding-bottom: 7px;
	}

	.items-container .product-item div .price {
		margin-bottom: 8px;
	}
}

/* @media(min-width: 690px) and (max-width: 858px) { */
@media(min-width: 320px) and (max-width: 858px) {	
	.product-container.grid .product-item .gridview, 
	.product-gear.grid .product-item .gridview, 
	.my-gears .product-item .gridview {
		padding-bottom: 7px;
	}

	.items-container .product-item div .price {
		margin-bottom: 8px;
		margin-right: 5px;
	}
	.items-container .product-item div .add-to-cart,
	.items-container .product-item div .buy-now {
		width: 50%;
		margin: 0 auto;
		display: block;
	}
}

@media (max-width: 1240px){
	#main-container.splash .container .logo-container, 
	#main-container.splash .logo-container { margin-top: 100px; }
}

@media(max-width: 1200px){
	html, body{ -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

	#main-header .header > .container,
	#main-nav > .container,
	#main-container > .container,
	.heading-title-container > .container,
	.single-page > .container,
	#main-footer > .container,
	#branding-container > .container,
	body.page-not-found-page #main-wrapper > .container{ width: 100%; }

	.banner-item .heading-container {
		left: 0;
		width: 100%;
	}

	.sidebar-container ul li .dropdownbtn { right: 5px; }

	body.page-not-found-page #main-wrapper .branding-content p { 
		margin-bottom: 10px;
		text-align: center; 
	}

	.sign-up .container.reg-container {
	 	width: 80%;
	}

	.my-gears .product-item .gridview h3, 
	.product-container.grid .product-item .gridview h3, 
	.product-container .grid .product-item .gridview h3, 
	.product-gear.grid .product-item .gridview h3, 
	.product-gear .grid .product-item .gridview h3 { text-align: center; }

	.product-container.grid .product-item .gridview, 
	.product-container .grid .product-item .gridview, 
	.product-gear.grid .product-item .gridview, 
	.product-gear .grid .product-item .gridview, 
	.my-gears .product-item .gridview { text-align: center; }

	.items-container .product-item div .add-to-cart,
	.items-container .product-item div .buy-now { 
		float: none !important;
		margin: 0 auto 15px;
		top: 0;
	}

	.listview .content-container h3.item-title a { font-size: 25px; }

	.items-container .grid .product-item div .price { 
		float: none !important;
		text-align: center; 
	}

	.gear-details.single-page .items-container {
		margin: 0;
		padding-right: 15px;
		padding-left: 15px;
		width: 75%;
	}

	.gear-details .sidebar-container {
		margin: 0;
		padding-right: 15px;
		padding-left: 15px;
	}

	.chat-box-container {  
		margin: 0;
		width: 75%;

		.receiver-user .receiver-user-pic-container { margin: 0; }
	}
}
@media(max-width: 1199px){
	.checkout {
		.checkout-items{
			table.table-checkout{
				tbody{
					 tr.item{
					 	td{
						 	.checkout-description{
						 		width: 483px;
						 	}
						 }
					 }
				}
			}
		}
	}
}

@media(max-width: 1160px){
	nav#main-nav ul li { margin: 15px 8.5px; }

	/* .sign-up .container {
		width: 650px;
	} */
}

@media only screen and (max-width: 1151px){
	.checkout {
		.checkout-items{
			table.table-checkout{
				tbody{
					 tr.item{
					 	td{
						 	.checkout-description{
						 		width: 55%;
						 		margin: 0 0 0 25px;
						 		.item-header{
						 			height: 100%;
						 			margin: 0 0 15px 0;
						 		}
						 	}
						 	.checkout-img{
						 		width: 35%;
						 	}
						 	input.quantity{
						 		width: 70%;
						 	}
						 }
					 }
				}
			}
		}
	}
}

@media(max-width: 1130px){
	nav#main-nav ul li { margin: 15px 7.5px; }
}

@media(max-width: 1110px){
	nav#main-nav ul li { margin: 15px 6.5px; }
}

@media(max-width: 1070px){
	nav#main-nav ul li a { font-size: 15px; }
}

@media(max-width: 1025px){
	nav#main-nav ul li { margin: 15px 5.5px; }
}

@media (max-width : 991px) {

	.gear-details .image-carousel {
        .image-carousel-container img{
			text-align: center;
			margin: 0 auto;
			position: relative;
			max-height: 550px;
			height: auto;
		}
		.image-carousel-container {
		    height: auto;
		}

	}

	.gear-details .image-slider-container{
		.prev-slick{
		   position: absolute;
		    top: 50%;
		    bottom: 0;
		    width: 27px;
		    height: 27px;
		    z-index: 9989;
		    right: 1px;
		    left: inherit;
		    background: url('right.png') no-repeat;
		    background-position: center center;
		    background-size: 27px 27px;
		    background-color: transparent;
		    border-radius: 5px;
		}
		.next-slick{
		    position: absolute;
		    top: 50%;
		    bottom: 0;
		    width: 27px;
		    height: 27px;
		    z-index: 9989;
		    right: inherit;
		    left: 1px;
		    background: url('left.png') no-repeat;
		    background-position: center center;
		    background-size: 27px 27px;
		    background-color: transparent;
		    border-radius: 5px;
		}
		.image-slider{


			.slick-track{
	            padding: 20px 0;
	        }
	        .slick-slide{
	        	margin: 0 10px;
	        }
			.slick-current .image-slider-individual{
	            border: 2px solid #000;
	            // transform: scale(1.20);
	        }
	        .image-slider-individual{
	            width: 100%;
	            height: 125px;
	            margin: 0 10px;
	            background-position: center center;
	            background-repeat: no-repeat;
	            background-size: cover;
	        }
	        .slick-prev:before, .slick-next:before{
	            color: #000;
	        }
	        // .image-slider .slick-vertical .slick-slide {
	        //     display: block;
	        //     height: auto;
	        //     border: 1px solid transparent;
	        //     cursor: pointer;
	        // }

		}
	} 
	.image-slider-container{
		margin: 50px 0 0 0; 
	}

	.splash #search-form,
	#main-container.splash ul { width: 75%; }

	#margin-top { margin-top: 134px; }

	.result-detail { width: 75% }
	.result-btn { width: 25%; }

	.colm1 { border: none; }

	.logo-thumb img { max-width: inherit; }

	.header-info-container #search-header-container #search-form-header .submit-btn { width: 25%; }

	.banner-item .heading-container p { padding: 0 15px; }

	.items-container,
	.chat-box-container { width: 70%; }
	.chat-box-container .btn-send { 
		padding-left: 8px; 
		padding-right: 8px; 
	}

	.sidebar-container { margin-right: 10px; }

	.messages .sidebar-container { width: 30%; }

	.chat-box-container .textbox-area-container {
		.textarea { width: 79%; }

		.btn-send {
			margin: 0px 0px 10px 0px;
			padding: 15px 27px;
		}
	}
	
	.currency-field,
	.separator,
	.form-group.second-currency-field,
	.price-range-container .form-group.pricebtn { 
		padding-left: 15px;
		padding-right: 15px; 
	}

	.form-group.second-currency-field i.fa.fa-usd {
	    left: 20px;
	}

	.listview .content-container h3.item-title a { 
		font-size: 20px; 
		font-weight: bold;
	}

	.gear-details .sidebar-container .options-container .price { 
		font-size: 25px; 

		span { font-size: 16px; }
	}

	.sell-thumb-image img { margin: 0 auto; }

	.faqs .faqs-content {
		padding: 0; 

		.section {
			// .icon-comment {
			// 	padding: 26px 0px;
			// 	width: 14%;
			// }

			.content {
				padding: 0 0 0 15px;
				width: 80%;
			}
		}
	}

	/*Modals*/
	.custom-saveresults .modal-content .modal-body .modal-save-results .modal-body-custom .section .link-label,
	.custom-saveresults .modal-content .modal-body .modal-save-results .modal-body-custom .section .remove { 
		float: none !important;
    	text-align: center; 
    }
}

@media(max-width: 980px){
	nav#main-nav ul li { margin: 15px 4.5px; }
}

@media(max-width: 955px){
	nav#main-nav ul { width: 860px; }
	nav#main-nav ul li a { font-size: 14px; }
}

@media(max-width: 930px){
	//nav#main-nav ul li a { font-size: 13px; }
}

@media only screen and (max-width: 910px){
	.checkout {
		.checkout-items{
			table.table-checkout{
				tbody{
					 tr.item{
					 	td{
						 	.checkout-description{
						 		width: 59%;
						 		margin: 0 0 0 17px;
						 	}
						 }
					 }
				}
			}
		}
	}
}
@media(max-width: 885px){
	nav#main-nav ul { width: 800px; }
	nav#main-nav ul li { margin: 15px 3px; }
}

@media(max-width: 830px){
	.product-details .tabs a{
		padding: 0 15px;
	}
	nav#main-nav ul {
		width: 790px; 

		li {
			margin: 15px 4px; 
			a { font-size: 13px; }
		}
	}
	.header-info-container .options-container .links-item.message, 
	.header-info-container .options-container .links-item.my-gears, 
	.header-info-container .options-container .links-item.checkout, 
	.header-info-container .options-container .links-item.my-cart {
		padding: 6px 4px 0 7px;
	}
}

@media only screen and (max-width: 810px){
	nav#main-nav ul { 
		width: 767px;
		li { margin: 15px 3px; }
	}
	.checkout {
		.checkout-items{
			table.table-checkout{
				tbody{
					 tr.item{
					 	td{
						 	.checkout-description{
				 		    	width: 100%;
								margin: 20px 0 0 0;
						 	}
						 	.checkout-img{
						 		width: 100%;
						 	}
						 	input.quantity{
						 		width: 100%;
						 	}
						 }
					 }
				}
			}
		}
	}
}

@media (max-width : 780px) { 
	nav#main-nav ul {
	    width: 743px;
	}

	nav#main-nav ul li {
	    margin: 15px 2.5px;
	}

	.sign-up .agreement input[type="checkbox"],
	.sign-up .agreement .control-label {
		float: left;
	}

	.sign-up .agreement .control-label {
		width: 85%;
	}
} 

@media (max-width : 790px) { 
	.header-info-container .options-container .links-item.message, 
	.header-info-container .options-container .links-item.my-gears, 
	.header-info-container .options-container .links-item.checkout, 
	.header-info-container .options-container .links-item.my-cart {
		padding: 6px 0px;
	}
	.gear-details .sidebar-container {
		margin-left: 0;
		padding: 0 15px 40px;
	}
} 

@media (max-width : 767px) {
	.hide-results{
	    display: none;
	}
	.btn-custom-ni{
		display: block!important;
	}
	a.mmenu{
		display: block!important;
	}
	.sidebar-container h3 {
		border-radius: 5px;
	}
	header#main-header.fixed{
		position: relative;
		z-index: 0;
	}
	#desktop-sidebar{
		display: none;
	}
	.margin-top-header{
		margin: 0;
	}
	.header-info-container {
		#search-header-container {
			margin: 10px 0;
		}
		.options-container {

			.nav-container-circles{
				.container-circles{
					.sub-container{
						position: absolute;
						right: -52px;
						width: 160px;
						border-radius: 3px;
						ul{
							li{
								text-align: center;
							}
						}
					}
					
					
				}
			}
		}
	}
	.header-info-container { padding-bottom: 0; }

	.header-info-container .options-container .links-item.message, 
	.header-info-container .options-container .links-item.my-gears, 
	.header-info-container .options-container .links-item.checkout, 
	.header-info-container .options-container .links-item.my-cart {
		padding: 6px;
	}

	.sidebar-container {
		margin-left: 0;
   		margin-right: 0;
	}

	.sign-up .container.reg-container { width: 100%; }

	.listview .content-container h3.item-title a { font-size: 18px; }

	.items-container .list .product-item .buttons-container { padding: 0; }

	#margin-top{
		margin-top: 0;
	}
	// .margin-top-out{ margin-top: 263px!important; }
	.modal-dialog {
		width: 90%;
	}
	.checkout .checkout-items table.table-checkout tbody tr.item td:first-child { padding: 30px 15px; }
	.checkout {
		.checkout-items{
			table.table-checkout{
				border-top: 1px solid #189cb2;
				thead tr { 
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
				tbody{
					tr.item {
						td { 
							input.quantity{
						 		top: 0;
						 		padding-right: 15px;
						 	}
						 	.checkout-img{
						 		width: 30%;
						 		padding: 10px 0 20px 0;
						 	}
							.checkout-description{
				 		    	width: 60%;
				 		    	margin: 10px 0 0 15px;
				 		    	float: none;
						 	}
							/* Behave  like a "row" */
							border: none;
							padding: 10px 15px 10px 0;
							border-bottom: 1px solid #189cb2; 
							position: relative;
							padding-left: 50%;
							display: block;
							text-align: left;
						}
						td:before {
							position: absolute;
							top: 10px;
							left: 35px;
							width: 45%; 
							padding-right: 10px; 
							white-space: nowrap;
						}
						td:nth-of-type(1):before { font-weight:bold; color: #189cb2; content: "Your Item"; }
						td:nth-of-type(2):before { font-weight:bold; color: #189cb2; content: "Item Price"; }
						td:nth-of-type(3):before { font-weight:bold; color: #189cb2; content: "Quantity"; top: 18px; }
						td:nth-of-type(4):before { font-weight:bold; color: #189cb2; content: "Total Price"; }
					}
					
				}
			}
			.footer{
				padding: 0 0 20px 0;
				.border-top{
					border: 0;
				}
			}
		}
	}

	.splash #search-form,
	#main-container.splash ul,
	#main-container.splash .container ul, { width: 100%; }

	.logo-container img { 
		margin: 0 auto;
		width: auto;
	}

	nav#main-nav ul { width: auto; }

	nav#main-nav ul li {
		float: none;
		margin: 0;
	    padding: 0;
	    border-bottom: 1px solid #E2E2E2;

	 	&:last-child { border: none; }
	    a { padding: 10px; }
	}

	nav#main-nav ul li:hover,
	nav#main-nav ul li.active {
		background: #565656;
		border-bottom: none;
		-webkit-border-bottom: none;
		-moz-border-bottom: none;
		-ms-border-bottom: none;

		a { color: #fff; }
	}

	#banner-container { display: none; }

	.header-info-container .options-container {
		padding-right: 15px;
		padding-top: 15px;
    	text-align: center;
	}

	.items-container { width: 100%; }
	
	.items-container .product-item { width: 50%; }
	.my-gears .items-container .product-item,
	.items-container .list .product-item { width: 100%; }

	.items-container .product-item .listview .img-container a img { margin: 0 auto; }
	.listview .content-container h3.item-title { 
		padding-left: 0;
	    padding-right: 0;
	    padding-top: 15px;
		text-align: center; 
	}

	.listview .content-container .item-desc { text-align: center; }

	.items-container .product-item div .price { 
		display: block; 
		padding-top: 15px;
		overflow: hidden;
		text-align: center;
	}

	.items-container .list .product-item .buttons-container { text-align: center; }

	.items-container .list .product-item div .add-to-cart,
	.items-container .product-item div .edit-btn,
	.items-container .product-item div .btn-danger {
		display: block;
		margin: 0 auto;
    	width: 50%;
	}

	.items-container .product-item div .btn-spacing { margin-top: 15px; }

	.contact-container,
	footer#main-footer .menu-container { 
		display: inline-block;
		float: none;
		margin-bottom: 20px;
		vertical-align: top;
		width: 49%;
	}

	.branding-content p { 
		margin-bottom: 10px;
		text-align: center; 
	}

	.branding-content p:last-child { 
		margin-bottom: 0; 
		text-align: center;
	}

	.sign-up .agreement input[type="checkbox"],
	.sign-up .agreement .control-label {
		float: left;
	}

	.sign-up .agreement .control-label {
		width: 85%;
	}

	.gear-details.single-page .items-container { width: 100%; }

	.gear-details .item-title,
	.gear-details .sidebar-container .options-container .price,
	.gear-details .sidebar-container div {  
		text-align: center;
	}

	.chat-box-container .textbox-area-container .btn-send { padding: 20px; }

	.about-us .aboutus-content .section,
	.why-use-gp .gp-content .section { padding: 0 20px; }

	.blogs .blog-section .image-container,
	.blogs .blog .blog-section .blog-header,
	.blogs .blog .blog-section .blog-body { 
		text-align: center; 

		.button-link a {  
			display: block;
			margin: 0 auto;
		}
	}

	.messages .sidebar-container .users-container .users {
		a { 
			display: block;
			padding: 0; 

			.user-name { width: 100%; }
		}
		
		.user-email { word-wrap: break-word; }
	}
	.shipping{
		.aboutus-content{
			.section{
				padding: 0 20px;
			}
		}
	}

	.selling-music-gear{
		.selling-music-gear-content{
			.section{
				padding: 0 20px;
			}
		}
	}
	.page-icons{
		width: 100%;
		text-align: center;

		.col-xs-12{
			width: 49%;
			padding: 0px;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
	}
}
@media (max-width : 735px) {
	.checkout {
			.checkout-items{
			.footer{
				.checkout-total{
					.shipping-con{
						.checkout-total-label{
							width: 100%;
						}
						.checkout-total-content,.checkout-shipping-content{
							width: 100%;
						}
					}
					.checkout-total-label{
						// width: 100%;
						width: 50%;
					}
					.checkout-total-content,.checkout-shipping-content{
						// width: 100%;
						width: 50%;
						padding: 0;
					}
				}
			}
			
		}
	}
}

@media (max-width : 590px) { 
	.chat-box-container .textbox-area-container .btn-send { padding: 12px; }
	.policy .aboutus-content .section{
		padding: 0 30px 80px;
	}
}

@media (max-width : 570px) {
	.found-result .result-detail,
	.found-result .result-btn {
	    width: 100%;
	}

	.found-result .result-btn { text-align: left; }
}


@media (max-width : 500px) {
	.gear-details .image-part.related-item .related-box{
		width: 100%;
	}
	.checkout {
		.checkout-items{
			.footer{
				.checkout-total{
					.checkout-total-content,
					.checkout-shipping-content{
						.shipping-details {
							input.city{
								width: 100%;
								margin: 0 0 10px 0;
							}
							.state{
								width: 100%;
								margin: 0 0 10px 0;
							}
							input.zip{
								width: 100%;
								margin: 0 0 10px 0;
							}
						}
					}
				}
			}
			table.table-checkout{
				
				tbody{
					tr.item {
						td { 
							input.quantity{
						 		top: 0;
						 		padding-right: 15px;
						 	}
						 	.checkout-img{
						 		width: 100%;
						 		padding: 10px 0 20px 0;
						 		img{
						 			margin: 0 auto;
						 		}
						 	}
							.checkout-description{
				 		    	width: 100%;
				 		    	margin: 10px 0 0 20px;
						 	}
							
						}
						
						
					}
					
				}
			}
		}
		
	}

	.optionsbtn {
		padding: 0;

		button {
			font-size: 12px;
    		padding: 10px 6px;
		}
	}

	.chat-box-container .textbox-area-container .btn-send { padding: 9px; }
}
@media (max-width : 480px) { 
	.new-pre-owned-container,
	.most-recent-view-container {
		text-align: center;
		width: 100%;
	}

	.most-recent-view-container  { margin-top: 0; }

	.most-recent,
	.view-type-container {
		margin-bottom: 15px;
		width: 100%;
	}

	.items-container .product-item { width: 100%; }

	.listview .content-container h3.item-title a { font-size: 16px; }

	.chat-box-container,
	.messages .sidebar-container { width: 100%; }
	.messages .sidebar-container .users-container {
		border-bottom: 1px solid #EFEEEE;

		.users {
			.user-img-container {
			    display: inline-block;
			    float: none;
			    vertical-align: middle;
			    width: 10%;

			    img.user-pic {
				    margin: 0;
				    width: 100%;
			    }
			}

			a .user-name {
				display: inline-block;
				float: none;
				line-height: 20px;
				margin: 0;
				padding: 0;
				vertical-align: middle;
				width: 89%;
			}
		}
	}	
}

@media (max-width: 450px){
	.product-details .tabs a{
		padding: 0 8px;
		font-size: 14px;
	}
	.checkout-summary .row table.section-information-container tbody tr td { 
		padding: 5px 5px 5px 20px; 

		span.colon-separator { position: relative; }
	}

	.checkout-summary .row table#customer-shipping-info tbody tr td.section-label { width: 35%; }
	.checkout-summary .row table#customer-shipping-info tbody tr td.section-content { width: 65%; }
}

@media (max-width : 410px) {
		#main-container.splash .content-container #search-form input, 
		#main-container.splash .logo-container #search-form input {  
		    font-size: 14px;
			padding: 10px 5px;
		}

		#main-container.splash ul li {.checkout {
		h3{
			font-size: 25px;
			color: #606060;
		}
		.inline-block{
			display: inline-block;
			vertical-align: top;
		}
		.checkout-items{
			margin: 25px 0 0 0;
			background-color: #efefef;
			.footer{
				padding: 25px 35px 40px 35px;
				.border-top{
					border-top: 1px solid #d7d7d7;
				}
				.checkout-total{
					margin: 25px 0 0 0;

					.overall-total { 
						border-top: 1px solid #d7d7d7;
						-webkit-border-top: 1px solid #d7d7d7;
						-moz-border-top: 1px solid #d7d7d7;
					    padding-top: 10px;
					    margin-top: 15px;
					    margin-bottom: 20px;

					    .checkout-total-label,
					    .checkout-total-content {
					    	font-size: 20px;
	    					color: #f04e41;
					    }
					}

					.checkout-total-label,
					.checkout-shipping-label{
						padding: 0 0 20px 0;
						font-size: 16px;
						color: #6f6f6f;
						font-weight: 900;
						width: 23%;
					}
					.checkout-total-content,
					.checkout-shipping-content{
						font-size: 16px;
						color: #189cb2;
						font-weight: 900;
						width: 75%;
						padding: 0 0 0 30px;
						float: right;
						.shipping-details {
							margin: 0 0 10px 0;
							.chzn-container-single{
								.chzn-single{
									background: #fff;
									span{
										color: #9999A2;
										font-weight: bold;
									}
								}
							}
							input.city{
								width: 35%;
							}
							.state{
								width: 35%;
							}
							input.zip{
								width: 28.5%;
							}
						}
					}
				}
			}
			table.table-checkout{
				position: relative;
				border: 0;
				border-collapse: collapse;
				thead {
					.header th:first-child{
						padding: 17px 0 17px 30px;
					}
					.header th{
						background-color: #189cb2;
						color: #fff;
						font-size: 16px;
						text-transform: uppercase;
						padding: 17px 0;
						text-align: center
					}
					th:first-child{
						width: 52%;
						border-radius: 5px 0 0 0;
						text-align: left;
					}
					th:last-child{
						border-radius: 0 5px 0 0;
					}
				}

				td, th{
					border: 0;
				}

				tbody{
					tr.item{
						td:first-child{
							padding: 35px 10px 15px 35px;
							text-align: left;
						}
						td{
							padding: 35px 0;
							vertical-align: top;
							text-align: center;
							input.quantity{
								width: 55%;
								margin: 0 auto;
								text-align: center;
								position:relative;
								top: -8px;
							}
							.checkout-img{
								width: 207px;
								img{
									width: 207px;
								}
							}
							.checkout-description{
								margin: 0 0 0 25px;
								width: 55%;
								.item-header{
									padding: 0 25px 0 0;
									height: 55px;
									p{
										font-size: 18px;
										margin: 0;
										color: #6f6f6f;
									}
								}
								.item-body{

									.item{
										.item-content{
											.label-item{
												color: #6f6f6f;
												width: 120px;
											}
											.content{
												color: #189cb2;
											}
											.block{
												font-size: 14px;
												padding: 0 0 5px 0;
											}
										}
									}
								}
								.item-btn{
									margin: 6px 0 0 0;
									.btn-removeItem{
										color: #fff;
										font-weight: bold;
										background-color: #f04e41;
									    padding: 7px 30px;
									}
								}
							}
						}
					}
				}
			}
		}


	}
		display: block;
		clear: both;
		padding: 5px;
		overflow: hidden;
		width: 100%;
	}

	#main-container.splash ul li, 
	#main-container.splash .container ul li {
		 padding-right: 0; 
	}

	#main-container.splash .facebook a,
	#main-container.splash .google-plus a {
		padding: 5px 15px;
    	width: 80%;
	}

	#main-container.splash .twitter a { width: 100%; }

	#main-container.splash .facebook span, 
	#main-container.splash .google-plus span {
		padding: 5px;
    	width: 20%;
	}

	.form-group ul.sell-content-list { margin-left: 0; }
}

@media (max-width: 380px){ 
	.gear-details .image-carousel {
		.image-carousel-container img{
			text-align: center;
			margin: 0 auto;
			position: relative;
			max-height: 400px;
			height: auto;
		}
		.image-carousel-container {
		    height: auto;
		}
		


		
	}
	.gear-details .image-slider-container{
		
		.image-slider{

	        .image-slider-individual{
	            width: 50px;
	            height: 50px;
	            margin: 0 10px;
	            background-position: center center;
	            background-repeat: no-repeat;
	            background-size: cover;
	        }
		}
	}


	.checkout-summary .row .bottom-content button.btn-cont-schop { padding: 15px; }
	.branding-content img { margin-top: 5px; }

	.page-icons{
		.col-xs-12{
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			float: left;
		}
	}

} 

@media (max-width: 370px){
	.heading-title{
		width: 90%;
		text-align: center;
	}
	.logo-thumb { 
		text-align: center;
		 
	}

	.sign-up .logo-thumb { 
		text-align: center;
		width: 100%; 
	}

	.contact-container,
	footer#main-footer .menu-container { width: 100%; }

	footer#main-footer .footer-logo-container img { margin: 0 auto; }
	footer#main-footer .menu-container { width: 100%; }
	footer#main-footer p, 
	footer#main-footer span, 
	footer#main-footer ul,
	footer#main-footer h3 { text-align: center; }

	footer#main-footer .social-icon-container { 
		margin: 10px 0;

		li {
			display: inline-block;
			float: none;
		}
	}

	.branding-content img { margin-top: 1px; }

	.messages .sidebar-container .users-container .users a .user-name { width: 88%; }
}

@media (max-width: 360px){
	.contact-container,
	#main-container.splash .logo-container #search-form .submit-btn, 
	#main-container.splash .content-container #search-form .submit-btn, 
	#main-container.splash .container .logo-container #search-form .submit-btn, 
	#main-container.splash .container .content-container #search-form .submit-btn {
		font-size: 15px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	// .margin-top-out {
	//     margin-top: 202px !important;
	// }
	.header { 
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.logo-container img { width: 200px; }
	.header-info-container,
	.header-info-container .options-container { padding-top: 5px }

	// #margin-top { margin-top: 175px; }

	.sign-up .agreement input[type="checkbox"],
	.sign-up .agreement .control-label {
		float: left;
	}

	.sign-up .agreement .control-label {
		width: 85%;
	}

	.multi-field-wrapper {
		.multi-fields,
		.control-label,
		.select-chosen {  
			padding-left: 0;
			padding-right: 0;
		}
	}

	.img-con, 
	.dz-processing {
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		width: 100%;

		img { margin: 0 auto; }
	}

	.dropzone .dz-preview { margin: 7px 0; }

	.dropzone .dz-preview .dz-image { margin: 0 auto; }

	.photo-container .add-primary-photo { left: 41%; }

	.product-details .tabs a { padding: 0 15px; }

	.chat-box-container .textbox-area-container .btn-send { padding: 5px; }

	.faqs .faqs-content .section .icon-comment { padding: 20px 0px; }

	nav#main-nav {  
		height: auto;
		min-height: 0;

		.navbar-toggle { 
			margin: 3px; 
			padding: 8px 10px;
		}
	}

	.header-info-container .options-container .headerlinks { margin-bottom: 5px; }
	.navbar-collapse.navbar-collapse.in { height: 160px; }

	/*Modals*/
    .modal-footer {
    	padding: 5px 10px;
    	text-align: center; 

    	button {  
    		margin: 5px;
    	}

    	.btn + .btn { margin: 10px 5px; }
    }

    .custom-saveresults .modal-content .modal-body .modal-save-results .modal-body-custom .section .remove  { margin-top: 10px; }
}
