/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: 'Lato';
    font-size: 12px;
}
li {
    code {
        background: none !important;
    }
}
code.api {
    display: inline-block;
    margin-bottom: 3px;
}
.nav {
    &>li {
        &.active {
            border: 1px solid #ddd;
            
            &>a {
                font-weight: bold;
                color: #fff;
                background-color: #428bca;
            }
        }
        &>a {
            color: #333;
            padding: 5px 15px !important;
            font-size: 12px;
        }
    }
}
.current {
    .panel-title > a {
        text-decoration: none;
        font-weight: bold;
    }
}
.panel-title > a {
    display: block;
    padding: 10px 15px;

    &:hover {
        text-decoration: none;
        background-color: #ddd;
    }
}
.panel-heading.menu {
    padding: 0px !important;
}

.ul-tag {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        padding: 3px 0;

        a {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

            &:hover {
                text-decoration: none;
                color: #fff;
                background-color: #333;
            }
        }
    }
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Show for mobile */
@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
        font-size: 12px;
    }
    .navbar-nav .active .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (max-width: 768px) {
    display: block !important;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* prettify */
.prettify {
    font-size: 12px;
    .boolean {
        &.negative {
            color: #d9534f;
        }
        &.positive {
            color: #5cb85c;
        }
    }
    .key {
        color: #f0ad4e;
    }
    .email, .url {
        color: #337ab7;
    }
    .string {
        color: #000;
    }
    .number {
        color: #a9a6a6;
    }
}